# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
num1 = 69
num2 = 69

values_equal = num1 == num2

references_equal = num1 is num2

print(f'Values are equal: {values_equal}')
print(f'References are equal: {references_equal}')

Values are equal: True
References are equal: True

У пайтоні цілі числа в проміжку від -5 до 256 є кешованими. Це означає, що числа в цьому діапазоні використовуються повторно, тобто кожен раз, коли ви створюєте змінну з цим значенням, вона буде посилатися на той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
def check_variable_type(variable):
    if isinstance(variable, bool):
        return 'Variable is a boolean'
    elif isinstance(variable, int):
        return 'Variable is an integer'
    else:
        return 'Type of variable not recognized'

variable1 = True
variable2 = 42
variable3 = "Hello"

result1 = check_variable_type(variable1)
result2 = check_variable_type(variable2)
result3 = check_variable_type(variable3)

print(result1)
print(result2)
print(result3)

Variable is a boolean
Variable is an integer
Type of variable not recognized

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
my_integer_var = 10
my_float_var = 5.7

addition_result = my_integer_var + my_float_var
subtraction_result = my_integer_var - my_float_var
division_result = my_integer_var / my_float_var
multiplication_result = my_integer_var * my_float_var
floor_division_result = my_integer_var // my_float_var
modulo_result = my_integer_var % my_float_var
exponential_result = my_integer_var ** my_float_var

print(f"Addition: {addition_result}")
print(f"Subtraction: {subtraction_result}")
print(f"Division: {division_result}")
print(f"Multiplication: {multiplication_result}")
print(f"Floor Division: {floor_division_result}")
print(f"Modulo: {modulo_result}")
print(f"Exponential: {exponential_result}")

Addition: 15.7
Subtraction: 4.3
Division: 1.7543859649122806
Multiplication: 57.0
Floor Division: 1.0
Modulo: 4.3
Exponential: 501187.2336272725

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [29]:

my_bool_var = True

converted_integer_from_float = int(my_float_var)

converted_integer_from_bool = int(my_bool_var)

print(f"Converted Integer from Float: {converted_integer_from_float}")
print(f"Converted Integer from Bool: {converted_integer_from_bool}")

Converted Integer from Float: 5
Converted Integer from Bool: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_string_1 = ''
empty_string_2 = ""
empty_string_3 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
string_with_apostrophe_double = " ' "
raw_string_double = r" ' "
print(string_with_apostrophe_double)
print(raw_string_double)

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [15]:
surname_var = "Zaporozhets"

formatted_string = f"My surname is {surname_var}"

print(formatted_string)

My surname is Zaporozhets

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [16]:
input_string = "My dog is crazy."


word_list = input_string.lower().split()


print(word_list)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [17]:
list1 = [1, 2, 3, 4, 5]

list2 = list(range(5))

length_of_list1 = len(list1)

print("List 1:", list1)
print("List 2:", list2)
print("Length of List 1:", length_of_list1)

List 1: [1, 2, 3, 4, 5]
List 2: [0, 1, 2, 3, 4]
Length of List 1: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [18]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend([list2])

print("Combined List:", list1)

Combined List: [1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [19]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

first_element_last_row = nested_list[-1][0]

print("First element of the last row:", first_element_last_row)

First element of the last row: 7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [20]:
original_list = [1, 'two', 3.0, 4, True, 'six', 7, 8.0, False, 'ten']


new_list = original_list[2:-2]


print("Original List:", original_list)
print("Modified List:", new_list)

Original List: [1, 'two', 3.0, 4, True, 'six', 7, 8.0, False, 'ten']
Modified List: [3.0, 4, True, 'six', 7, 8.0]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
single_element_tuple = (42,)


print("Single Element Tuple:", single_element_tuple)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки і кортежі в пайтоні подібні за тим, що обидва є колекціями об'єктів, які можна ітерувати. Однак є важливі відмінності. Списки мутабельні, тобто їх можна змінювати (додавати, видаляти елементи), а кортежі є немутабельними, і їх елементи не можна змінювати після створення. Синтаксис для створення списків використовує квадратні дужки [], у той час як кортежі використовують круглі дужки (). У деяких випадках кортежі можуть бути швидшими за списки через їх немутабельність. Вибір між ними залежить від потреб та вимог конкретного використання.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [21]:
tuple_with_floats = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)

result_tuple = tuple_with_floats[-2::-2]

print("Original Tuple:", tuple_with_floats)
print("Result Tuple:", result_tuple)

Original Tuple: (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
Result Tuple: (0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [22]:
empty_set = set()

empty_set.add(1)
empty_set.add("Hello")
empty_set.add(3.14)


print("Modified Set:", empty_set)

Modified Set: {1, 3.14, 'Hello'}

так, множини є змінним типом даних.
Вони можуть змінюватися, дозволяючи додавати та видаляти елементи.
Наприклад, метод add() використовується для додавання нового елемента до множини,
і метод remove() використовується для видалення елемента з множини.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:

my_list = [1, 1, 2, 67, 67, 8, 9]


my_set = set(my_list)

print("Original List:", my_list)
print("Set with Unique Elements:", my_set)

це відбувається, тому що в пайтоні множини не допускають дублкатів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1.union(set2)

difference_set = set1.difference(set2)

intersection_set = set1.intersection(set2)

symmetric_difference_set = set1.symmetric_difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union Set:", union_set)
print("Difference Set:", difference_set)
print("Intersection Set:", intersection_set)
print("Symmetric Difference Set:", symmetric_difference_set)

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [26]:

my_dict = {}


my_dict[1] = "Integer Key"
my_dict["two"] = "String Key"
my_dict[3.14] = "Float Key"
my_dict[(1, 2, 3)] = "Tuple Key"


print("Updated Dictionary:", my_dict)

Updated Dictionary: {1: 'Integer Key', 'two': 'String Key', 3.14: 'Float Key', (1, 2, 3): 'Tuple Key'}

 Список не може бути ключем у словнику. Ключі у словнику повинні бути незмінними типами даних, такими як числа, рядки чи кортежі. Списки є змінними і не можуть бути використані як ключі у словнику.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [27]:
main_dict = {
    'first_key': 'first_value',
    'second_key': {
        'nested_key_1': 'nested_value_1',
        'nested_key_2': {
            'inner_key': 'inner_value111'
        }
    },
    'third_key': 'third_value'
}

innermost_value = main_dict['second_key']['nested_key_2']['inner_key']

print("Value at the innermost level:", innermost_value)

Value at the innermost level: inner_value111

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.